.image{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 5px solid aqua;
    background: url(../../../assets/image/bannerImage/supper.webp) no-repeat center;
    background-size: cover;
    
}

@media only screen and (max-width: 768px){
    .iconCOntrol{
        text-align: center;
    }
    
}

