@media only screen and (max-width: 768px){
    .education{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
        width: 100%;
        margin-left: 0 auto;
    }
    .setimage{
        margin: 0 50%;
        transform: translateX(-50%);
    }
    
}