.overbg{
    background: url(../../../src//assets/image/aboutme/aboutme2.jpg) no-repeat center;
    background-size: cover;
    
}
.overbg2{
    background: url(../../../src//assets/image/aboutme/about7.jpg) no-repeat center;
    background-size: cover;
    
}