.overbg{
    background: url(../../../src//assets/image/aboutme/six.jpg) no-repeat center;
    background-size: cover;
    border: 5px solid #fff;
    
}
.overbg2{
    background: url(../../../src//assets/image/aboutme/aboutmefinal.jpg) no-repeat center;
    background-size: cover;
    border: 5px solid #fff;
    
}